.app {
  background-color: rgba(0, 0, 20, 0.1);
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
}

.app-title {
  text-align: center;
  font-size: 55px;
  margin: 0.2em;
  line-height: 1em;
  color: rgba(250, 0, 0, 1);
}
