.browser {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: #5c24aa;
  overflow: hidden;
  border-radius: 4px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  min-height: 100px;
  background: #ffa84b;
  align-items: end;
  padding: 0 10px;
  overflow: hidden;
}

.tab {
  position: relative;
  min-height: 50px;
  border-radius: 7px;
  margin-bottom: -5px;
  overflow: hidden;
  background-color: #4e4ee6;
}

.tab a {
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.tab a:hover {
  cursor: pointer;
}

.viewport {
  background-color: #0101b6;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.higlight {
  display: block;
  position: absolute;
  height: 200px;
  width: 300px;
  top: -100px;
  border-radius: 50%;

  background: radial-gradient(rgba(157, 128, 238, 1), rgba(157, 128, 238, 0));
  /* background: red; */
  z-index: 1;
  transition: all 0.3s ease;
}
